* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 50px;
    color: #333;
}

p {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.selecao {
    margin-bottom: 15px;
    text-align: left;
}

.selecao label {
    margin-right: 10px;
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 5px;
}

.idade-destaque {
    background-color:wheat;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
}

.input-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-area label {
    font-weight: bold;
}

input[type="number"] {
    width: 40%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

button {
    padding: 10px;
    border: none;
    background-color: #e2d00d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.resultado-oculto {
    display: none;
    margin-top: 20px;
}

#resultado h2 {
    margin-bottom: 10px;
}

#resultado p {
    font-weight: bold;
    color: #555;
}
